body{margin:0px; padding:0px;}
.container{
	height:100vh;
	background-color: #ffdead;
	align-items:space-around;
	display:grid;
	grid-gap:5px;
	grid-template-rows: 2fr 5fr 1fr;
	grid-template-areas:
	"result result result"
	"rock paper scissors"
	"footer . .";
	}
	
	.result{
	grid-area:result;
	background-color:#bada55;
	color:#a92f63;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size:  35px;
	}
	.result#victory{background-color:darkblue; color: gold;}
	.result#defeat{background-color:#300; color:#0cc;}
	#rock{
		grid-area: rock;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	#paper{
		grid-area:paper;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	#scissors{
		grid-area:scissors;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.choice{
	background-color:#424864;
	border-style: groove;
	border-width: 6px;
	border-color:#7C4818;
	}
	
	#footer{
	color:white;
	grid-area:footer;
	display:flex;
	 align-items:flex-end; 
	 justify-content:flex-start;}
	
	
	.disabled{pointer-events:none;}
	
